.home-content {
  @media screen and (min-width: 600px) {
    max-width: 70vw;
  }
  margin: 0 auto;
  .left {
    @include flex-col;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    height: 400px;
    padding: 200px 0;
    text-align: left;
  }
  .title {
    font-size: 500%;
    font-weight: bold;
  }
  .desc {
    color: $font-grey;
    font-size: 150%;
  }
  .login {
    @include flex-row;
  }
}
