.profile {
  max-width: $content-width;
  margin: 0 auto;
  padding: 50px 0;
  .profile-container {
    @include flex-row;
    margin: 0 30px;
  }
  // 个人资料页侧边栏
  .profile-sidebar {
    @include flex-col;
    align-items: flex-start;
    width: 25%;
    padding: 0 20px;
    // 头像的父元素 保证头像为正方形显示
    .avatar-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }
    .name {
      margin: 20px 0;
      font-size: 250%;
      font-weight: 600;
    }
    .bio {
      font-size: 110%;
      text-align: left;
    }
  }
  // 个人资料页项目列表
  .profile-content {
    width: 75%;
    padding: 0 20px;
  }
  .projects {
    @include flex-col;
  }
  .projects-item {
    @include flex-row;
    align-items: flex-start;
    justify-content: space-between;
    height: 136px;
    width: 100%;
    padding: 24px 0;
    box-sizing: border-box;
    border-bottom: 1px solid $line-grey;
  }
  .projects-item-left {
    @include flex-col;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }
  .projects-item-name {
    font-size: 150%;
    color: $blue;
  }
  .projects-item-flags {
    @include flex-row;
  }
  .projects-item-flag {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }
  .projects-item-right {
    color: $font-grey;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      color: rgb(114, 114, 114);
      transform: rotate(90deg);
    }
  }
}
